.cart {
    padding-top: 70px;
}

.cart__inner {
    background-color: white;
    border: solid 1px #a4a4a4;
    border-radius: 10px;
}

.cart__list {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__list:not(:last-child) {
    border-bottom: solid 1px #a4a4a4;
}

.cart__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__item-image {
    border-radius: 10px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.cart__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart__delete {
    margin-left: 30px;
}

.cart__edit {
    margin-left: 20px;
}

.cart__item-title {
    padding-left: 40px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: #676562;
}

.cart__item-content {
    display: flex;
}

.cart__heading {
    padding: 20px;
    border-bottom: 1px solid #a4a4a4;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.08;
    color: #131717;
    text-align: center;
}

.cart__item-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding-left: 50px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #676562;
    min-width: 200px;
}

.cart__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #676562;
}

.price {
    padding-left: 10px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    color: #131717;
}

.cart__number,
.cart__plus,
.cart__minus {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--third-color);
    color: var(--text-color);
}

.cart__plus,
.cart__minus {
    cursor: pointer;
}

.cart__quantity {
    display: flex;
    margin-left: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.cart__number {
    text-align: center;
    border: transparent;
    outline: transparent;
    font-weight: 400;
    font-size: 1.6rem;
}

/* ======== Cart Footer ======== */

.cart__footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__footer-left {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__footer-right {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.08;
    color: #676562;
}

.footer-checkout {
    padding: 0px 60px;
    color: var(--text-color);
}

.footer-checkout-1 {
    padding-right: 10px;
}

.footer-checkout-2 {
    padding-left: 10px;
}
