/* ===================================== Footer ============================================================ */

.footer {
    margin-top: 81px;
    padding: 50px 0;
}

.footer__inner {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__inner .list .item a {
    color: var(--text_color);
}

.footer__image {
    width: 80px;
    height: 80px;
}

.footer__logo {
    width: 100%;
}

.heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
}

.footer .column .item {
    line-height: 2;
    font-size: 1.8rem;
}

.copyright {
    margin-top: 80px;
    text-align: center;
}

.copyright p {
    font-size: 2rem;
    color: var(--text_2_color);
}